.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    padding: 0.25rem 2rem;
    border-radius: 25px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    color: white;
    background-color: #000000;
    border-color: #ffffff;
  }