@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: monospace ,'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
}

footer {
  display: block;
  font-weight: bold;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}
